@import "./variables.scss";

.v-btn {
  background-color: $primary-color;
  border-radius: 5px;

  .v-icon {
    color: white;
  }
}

.ds-list-item-cont {
  background-color: #5b7beb;
  color: white;
  border-radius: 5px;
}
